.container{
	background: blue;
	height: 720px;
}

.box {
  text-align: center;
  margin: 20px auto;
  width: 90%;
  height: 720px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
  background: #eee;
}

th {
  text-align: left;
}

h2{
	padding: 0;
	margin-right: 0;
}

h4{
	padding-bottom: 3%
}

p{
	text-align: center;
	background-color: white;
	width: 100%;
	padding: 0;
}

form{
	text-align: center;
	padding-right: 10%;
	display: inline-block;
}

.decks{
	text-align: center;
}

.change_it{
    background-color: blue;
	color: white;
	float: right;
}

.delete_it{
	background-color: red;
	color: white;
	float: right;
}
