<div class="container">
  
  <div class="box">
  <h1>Your Notes</h1>

  <% if @user.name %>
  <h2><%= @user.name %></h2> 
    <a href='/logout'>Logout</a>
  <% end %>

  <h3>Add a note:</h3>

 <form action="/add_note" method="post">
    <input type="text" placeholder="Description of your note" name="note">
    <input type="submit" value="Add It!">
  </form>
 
  <br>

  <h3> Your notes: </h3>

  <div class="decks">
    <% if @notes %>
      <% @notes.each do |note| %>
      <p> <%= note.description %></p> 

        <form action="/update_note" method="put">
          <input type="hidden" value="<%= note.id %>" name="note_id">
          <input class = 'change_it' type="submit" value="Change It!">
        </form>

        
        <form action="/delete_note" method="delete">
          <input type="hidden" value="<%= note.id %>"  name="note_id">
          <input class = 'delete_it' type="submit" value="Delete It!">
          </form>

      <br>  
      <%end%>
    <% end %> 
  </div>

</div>

</div>




