<div class="container">
  
  <div class="box">

  <h1>Welcome to Your Notepad:</h1>

  <h4>Login or create new account</h4>
 
  <form class = "login" action="/login" method="post">
    Welcome Back: <input type="text" name="name">
    <input type="hidden" name='id' value='<%= current_user%>'>
    <input type="submit" value="Login">
  </form>

  <form class = "create" action="/create" method="post">
    Enter Your Name: <input type="text" name="name">
    <input type="hidden" name='id' value='<%= current_user%>'>
    <input type="submit" value="Create">
  </form>
  </div>

</div>
