<div class="container">
  <h1>Welcome to Your Notepad:</h1>

  <p>Login or create new account.</p>
 
  <form action="/login" method="post">
    Welcome Back: <input type="text" name="name">
    <input type="hidden" name='id' value='<%= current_user%>'>
    <input type="submit" value="Login">
  </form>

  <br>

  <form action="/create" method="post">
    Enter Your Name: <input type="text" name="name">
    <input type="hidden" name='id' value='<%= current_user%>'>
    <input type="submit" value="Create">
  </form>
  
</div>
