<div class="container">
  <h1>Your Notes</h1>

  <% if current_user %>
  <h2><%= user_name %></h2>
  <a href='/logout'>Logout</a>
  <% end %>

  <h3>What would you like to do?</h3>

 <p> Add a Note? <p>

 <form action="/add_note" method="post">
    Description: <input type="text" name="note">
    <input type="submit" value="Add It!">
  </form>
 
  <br>  
 
 <p> Delete Note? <p>

  <form action="/delete_note" method="delete">
    Which Id #?: <input type="text" name="user_id">
    <input type="submit" value="Delete It!">
  </form>

  <br>

  <h2> Here are your notes: </h2>

  <% if @all_notes %>
   <%= @list %>
  <% end %>



</div>




